/* 
===================================
Resets (box-sizing, normalize, etc.) 
===================================
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 
===================================
font families 
===================================
*/
@font-face {
  font-family: "deadpool-movie-font";
  src: url("/assets/fonts/deadpool-movie-font/deadpoolmovie-9azl-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/deadpool-movie-font/deadpoolmovie-9azl-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "uppercut";
  src: url("/assets/fonts/uppercut/upperpunch-x3vvk-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/uppercut/upperpunch-x3vvk-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "anti-hero";
  src: url("/assets/fonts/rogue-hero/rogueheroacad-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/rogue-hero/rogueheroacad-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 
===================================
Variables (colors, text, spacing, etc.)
===================================
*/
:root {
  /* colors */
  --neutral-black: #0a0a0a;
  --neutral-dark-gray: #484848;
  --neutral-off-white: #c7c7c7;
  --neutral-white: #ffffff;
  --primary-yellow: #d3e97a;
  --background-dark-gray: #1a1a1a;
  --background-medium-gray: #222222;
  --basic-black: #000000;
  /* anti-hero colors */
  --anti-hero-red: #a10414;
  --just-ketchup-red: #eb0017;
  --canuck-red: #F11329;
  --april-gray: #343339;
  --angel-morning-gray: #20252c;
  --captain-pool-black: #13171b;

  /* font */
  --main-headings: "Bebas Neue", sans-serif;
  --paragraph: "Manrope", sans-serif;
  --antihero-heading-one: "anti-hero";
  --antihero-heading-two: "deadpool-movie-font";
  --antihero-paragraph: "uppercut";

  /* font weight */
  --regular-weight: 400;
  --medium-weight: 500;
  --heavy-weight: 600;
  --extra-heavy-weight: 700;

  /* Font sizes */
  --font16: 1rem;
  --font21: 1.313rem;
  --font24: 1.5rem;
  --font28: 1.75rem;
  --font36: 2.25rem;
  --font38: 2.375rem;
  --font43: 2.688rem;
  --font57: 3.563rem;
  --font62: 3.875rem;
  --font78: 4.875rem;

  /* Spacing */
  --spacing10: 10px;
  --spacing15: 15px;
  --spacing20: 20px;
  --spacing30: 30px;
  --spacing40: 40px;
  --spacing50: 50px;
  --spacing60: 60px;
  --spacing80: 80px;
  --spacing100: 100px;

  /* border-radius */
  --border-radius10: 10px;
  --border-radius20: 20px;

  /* Wrappers */
  --wrapper-width-max: 1328px;
  --desktop-wrapper-width: 90%;
  --mobile-wrapper-width: 95%;
}

.hidden {
  display: none;
}

.stop-scroll {
  overflow: hidden;
}

a {
  color: var(--primary-yellow);
}
a:hover {
  background-color: #c7c7c785;
  color: var(--neutral-black);
  transition: ease-in 0.3s;
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: -50px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: transparent; 
	cursor: pointer;
	padding: 0; 
   }
  
  #topBtn img {
	width: 50px; 
	height: 50px;
  }
  
  #topBtn:hover img {
    filter: invert(25%);
  transition: ease-in 0.3s;
  }

/* 
===================================
Accessibility
=================================== 
*/
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* 
===================================
main styles
=================================== 
*/

html {
  font-size: 16px;
}

body {
  background-color: var(--neutral-black);
  font-family: var(--paragraph);
  color: var(--neutral-off-white);
  font-size: var(--font16);
  line-height: var(--line-height26);
}

/* wrapper */
.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* font styles */
.heading-one {
  font-family: var(--main-headings);
  color: var(--neutral-white);
  font-size: var(--font57);
  font-weight: var(--regular-weight);
  line-height: var(--line-height58);
  text-wrap: balance;
  margin-bottom: 0;
  transition: color 1s ease;
}

.heading-two {
  font-family: var(--main-headings);
  color: var(--neutral-white);
  font-size: var(--font43);
  font-weight: var(--regular-weight);
  line-height: var(--line-height50);
  margin-bottom: 0;
  transition: color 1s ease;
}

.title {
  color: var(--neutral-white);
  font-family: var(--paragraph);
  font-size: var(--font24);
  font-weight: var(--medium-weight);
  line-height: var(--line-height32);
}

/* replacing header-one */
.anti-hero-heading {
  font-family: var(--antihero-heading-one);
  color: var(--just-ketchup-red);
  font-size: var(--font57);
}

/* replacing heading-two */
.anti-hero-heading-two {
  font-family: var(--antihero-heading-two);
  color: var(--canuck-red);
  font-size: var(--font43);
}

/* replacing paragraph */
.anti-hero-paragraph {
  font-family: var(--antihero-paragraph);
  color: var(--neutral-white);
  font-size: var(--font24);
}

/* replacing title */
.anti-hero-title {
  font-family: var(--antihero-paragraph);
  color: var(--just-ketchup-red);
  font-size: var(--font36);
}

/* replacing link colors */
.anti-hero-links {
  color: var(--canuck-red);
  cursor: url("/assets/images/cursor-one.png"), auto;
}

@media screen and (min-width: 1025px) {
  .wrapper {
    width: 90%;
    max-width: 1130px;
  }

  p,
  .paragraph {
    font-size: var(--font21);
  }
  a,
  .anti-hero-links {
    font-size: var(--font21);
  }
  .heading-one,
  .anti-hero-heading {
    font-size: var(--font78);
    line-height: var(--line-height68);
  }

  .heading-two,
  .anti-hero-heading-two {
    font-size: var(--font62);
  }

  .title {
    font-size: var(--font36);
    line-height: var(--line-height40);
  }
  /* stylized mode */
  .anti-hero-paragraph {
    font-size: var(--font28);
  }

  h2.anti-hero-title {
    font-size: var(--font38);
  }
  h3.anti-hero-title {
    font-size: var(--font38);
  }
  .anti-hero-title {
    font-size: var(--font36);
  }

  p .anti-hero-links {
    font-size: var(--font28);
  }
}
